/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/centralgovernment/*
organizations/fabric-ca/stategovernmentdepot/*
organizations/fabric-ca/statelevelfps/*
organizations/fabric-ca/other/*

!organizations/fabric-ca/ordererOrg/*.yaml
!organizations/fabric-ca/centralgovernment/*.yaml
!organizations/fabric-ca/stategovernmentdepot/*.yaml
!organizations/fabric-ca/statelevelfps/*.yaml
!organizations/fabric-ca/other/*.yaml

organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt